@model List<Blog>/*burada önyuz ıcın tanımlamalar yapıldı liste halinde gosterıldı ve asagıda gerekenler verı tabanından alındı*/

@*buradaki kodların hepsinin çalısması ıcın backend kodlarının yazılması lazım yanı controller olması gerekıyor unutma*@
<div class="mainbar">
  @foreach (var item in Model)/*liste elemanı ile ile veri tabanındakı herseyi yani kac tane blog varsa burada listeledık*/
  {
     <div class="article">
         <h2><span>@item.Name</span></h2>
         <div class="clr"></div>
         <p><span class="date">@item.PublishDate</span> Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">@item.Tags</a>, <a href="#">internet</a></p>
            @*<img src="images/img1.jpg" width="625" height="205" alt="" />*@
         <img src="@item.ImageUrl" width="625" height="205" alt="" />
         <p>@item.Description</p>
         <p class="spec"><a href="/Blogs/Details?id=@item.Id" class="rm">Read more &raquo;</a>@*burada hrefteki ? işareti ile id'ye gore istedik*@
             <a href="#" class="com"><span>@item.CommentCount</span> Comments</a>
             <a href="#" class="com"><span>@item.LikeCount</span> Like</a>
             <a href="#" class="com"><span>@item.ViewCount</span> View</a>
         </p>
     </div>
  }
</div>
